<ol class="card">
  <h3 id="note_title">{title}</h3>
  <p id="note_content">{content}</p>
  <div class="button-group">
    <a href="update/{id}" class="edit-btn" name="edit_button">Edit</a>
    <form action="/delete/{id}" method="post">
      <button type="submit" name="delete_button" class="delete-btn">
        Delete
      </button>
    </form>
    <form action="/favorite/{id}" method="post">
      <button type="submit" name="favorite_button" class="favorite-btn">
        {favorite_icon}
      </button>
    </form>
  </div>
</ol>
